body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

#search {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
}

.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 1000;
}

.menu-content {
    color: #fff;
    padding: 20px;
}

.menu-content h2 {
    margin-top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.close-menu {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}



.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item .save-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 600px) {
    #search {
        width: 60%;
    }

    .grid-item.large {
        grid-column: span 1;
    }
}
